.wrapper {
  margin-top: 10vh;
  display: flex;
  gap: 60px;
}

.inputs {
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.input>div>div {
  width: 480px;
}

.buttonContainer {
  text-align: end;
}
