.wrapper {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.explanations {
  margin: 56px 0 0;
  text-align: center;
}

.link {
  color: #4c4cff;
  text-decoration: none;
  margin-left: 8px;
}

.input>div>div{
 width: 480px;
}
