.header {
  max-width: 1920px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.04), 0 4px 8px 0 rgba(0, 0, 0, 0.04),
    0 16px 24px 0 rgba(0, 0, 0, 0.04), 0 24px 32px 0 rgba(0, 0, 0, 0.04);
}

.wrapper {
  max-width: 1290px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
}

.navigation {
  display: flex;
  gap: 8px;
  justify-self: flex-start;
}

.link {
  box-sizing: border-box;
  display: flex;
  gap: 8px;
  text-decoration: none;
  border-radius: 40px;
  color: rgb(133, 133, 173);
}

.personalAccount {
  justify-self: flex-end;
}

.activeClass {
  color: #f2f2f3;
}
