.container {
  box-sizing: border-box;
  border-top: none;
  color: #f2f2f3;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  width: 100%;
}

.ingredientsList {
  overflow-y: auto;
  max-height: 500px;
  padding: 0;
  padding-right: 8px;
}

.ingredientsList::-webkit-scrollbar {
  width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
  background-color: #2f2f37;
}

.ingredientsList::-webkit-scrollbar-thumb {
  height: 292px;
  background-color: #8585ad;
}

.ingredient {
  display: flex;
  align-items: center;
  gap: 9px;
  list-style-type: none;
}

.ingredient + .ingredient {
  margin-top: 16px;
}

.priceWrapper {
  display: flex;
  gap: 40px;
  justify-content: flex-end;
}

.price {
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
